<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TALXIS" value="https://pkgs.dev.azure.com/thenetworg/_packaging/TALXIS/nuget/v3/index.json" />
    <!-- <add key="TALXIS Integration" value="https://pkgs.dev.azure.com/thenetworg/_packaging/TALXIS.Integration/nuget/v3/index.json" /> -->
  </packageSources>
</configuration>